<owl-carousel-o class="slider" [options]="customOptions">
    <ng-container *ngFor="let slide of slidesStore">
        <ng-template carouselSlide [id]="slide.id">
            <div class="item" style="background-image: url('assets/images/{{ slide.img }}');">
                <div class="overlay">
                    <div class="caption">
                        <h1>AI Foundation</h1>
                        <p>is focused on inspiring the next generation of kids Healthcare professionals.</p>
                        <button mat-flat-button color="accent">Donate Now</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>