<footer>
    <div class="main-footer">
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-3 col-sm-7 col-6">
                    <ul class="list-unstyled">
                        <li><a href="#">News</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-5 col-6">
                    <ul class="list-unstyled">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Complains</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-7">
                    <p>Subscribe to Newsletter</p>
                    <form class="subscribe-form">
                        <div class="form-group d-flex">
                          <input type="email" class="form-control" id="email" placeholder="Email Address">
                          <button mat-flat-button type="submit" color="accent">Subscribe</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-sm-5">
                    <p>Follow us on</p>
                    <div class="social-links">
                        <a *ngFor="let socialLink of socialLinks" class="mr-4" [href]="socialLink.link" target="_blank"><i [class]="socialLink.icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="rights">All rights reserverd - Link Development Company © 2020</p>
</footer>
